.slider_container {
    width: 100%;
    padding-top: 20px;
}

.slider_wrapper {
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    /* Удаляем статический background, так как теперь он задается динамически */
    outline: none;
    border-radius: 2px;
    margin: 10px 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--color-deeppink);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: var(--color-deeppink);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    z-index: 2;
    position: relative;
}

.points {
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.point {
    width: 8px;
    height: 8px;
    background: rgba(194, 194, 194, 1);
    border-radius: 50%;
    transform: translateY(-50%);
}

.point.active {
    background: var(--color-deeppink);
}

.values {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.value {
    color: #d4d4d4;
    font-size: 14px;
    font-family: "Unbounded_Light";
}

.value.active {
    /* color: var(--color-deeppink); */
}

.value_display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: var(--color-white);
    font-family: "Unbounded_Bold";
    font-size: 16px;
}

.gradient_line {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(194, 194, 194, 0.12) 10%,
        rgba(194, 194, 194, 1) 100%
    );
}

.discount {
    color: #04e061;
}

.discount_labels {
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    right: 0;
}

.discount_label {
    position: absolute;
    width: 34px;
    height: 15px;
    background-color: var(--color-deeppink);
    border-radius: 4px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-50%);
    font-family: "Unbounded_Light";
}
